.set-header{
    font-size: 29px;
	font-family: 'Spicy Rice', cursive;
	letter-spacing: 2px;
    text-shadow: 0px 2px rgba(0,0,0,0.6);
    color: #fff;
}
.form-group{
    position: relative;
  width: 463px;
  display: block;
  overflow: hidden;
  margin: 1em auto;
  background: #192434;
  border-radius: 15px;
}
.lables{
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 3px;
    float: right;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1em;
  
    line-height: 18px;
    color:  #fff;
}
.inputs{
    position: absolute;
  top: 0;
  right: 100%;
  width: 75%;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  font-size:  20px;
  font-weight: bold;
  border: none;
  -webkit-transform: translate3D(75%, 0, 0);
  transform: translate3D(75%, 0, 0);
  -webkit-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
  outline: none;
  border-radius: 15px;
 
}

