.set-header{
    font-size: 29px;
	font-family: 'Spicy Rice', cursive;
	letter-spacing: 2px;
    text-shadow: 0px 2px rgba(0,0,0,0.6);
    color: #fff;
}
.form-group{
    position: relative;
  width: 463px;
  display: block;
  overflow: hidden;
  margin: 1em auto;
  background: #192434;
}
.lables{
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 3px;
    float: right;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1em;
    transition: transform 400ms;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    line-height: 18px;
    color:  #fff;
}
.inputs{
    position: absolute;
  top: 0;
  right: 100%;
  width: 75%;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  font-size:  20px;
  font-weight: bold;
  border: none;
  -webkit-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 60ms;
}
.inputs:focus, .inputs.filled{
    -webkit-transform: translate3D(100%, 0, 0);
    transform: translate3D(100%, 0, 0);
outline: none;
}
.inputs:focus + .lables, .inputs.filled + .lables{
    -webkit-transform: translate3D(75%, 0, 0);
          transform: translate3D(75%, 0, 0);
}
